name: Release

on:
  workflow_dispatch:
    inputs:
      bump:
        description: 'Version bump type'
        required: true
        type: choice
        options:
          - patch
          - minor
          - major
        default: minor
      version-properties-file:
        description: 'Path to properties file containing version'
        required: false
        type: string
        default: 'gradle.properties'
      snapshot:
        description: 'Snapshot release'
        required: false
        type: boolean
        default: false

concurrency:
  group: release
  cancel-in-progress: false

jobs:
  release:
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      bump: ${{ inputs.bump }}
      version-properties-file: ${{ inputs.version-properties-file }}
      snapshot: ${{ inputs.snapshot }}
    secrets:
      github-token: ${{ secrets.STREAM_PUBLIC_BOT_TOKEN }}
      maven-central-username: ${{ secrets.OSSRH_USERNAME }}
      maven-central-password: ${{ secrets.OSSRH_PASSWORD }}
      signing-key: ${{ secrets.SIGNING_KEY }}
      signing-key-id: ${{ secrets.SIGNING_KEY_ID }}
      signing-key-password: ${{ secrets.SIGNING_PASSWORD }}
