name: Publish Snapshot builds

on:
  push:
    branches:
      - develop
  workflow_dispatch:

concurrency:
  group: snapshot-release
  cancel-in-progress: false

jobs:
  release:
    permissions:
      contents: write
    uses: ./.github/workflows/release.yml
    with:
      bump: patch
      snapshot: true
    secrets:
      github-token: ${{ secrets.STREAM_PUBLIC_BOT_TOKEN }}
      maven-central-username: ${{ secrets.OSSRH_USERNAME }}
      maven-central-password: ${{ secrets.OSSRH_PASSWORD }}
      signing-key: ${{ secrets.SIGNING_KEY }}
      signing-key-id: ${{ secrets.SIGNING_KEY_ID }}
      signing-key-password: ${{ secrets.SIGNING_PASSWORD }}
